.recentTransactions {
    background-color: white;
}

.componentTransactionsHeader {
    background-color: #0c8397;
    color: white;
    margin-bottom: 0;
    padding: 14px;
    text-align: center;
    font-weight: 100;
}

.transctionItems {
    margin: 0 10px;
    border: 1px solid grey;
    border-left: 5px solid red;
    margin-bottom: -1px;
}

.transctionItems > * {
    display: inline-block;
    margin: 5px 10px;
    vertical-align: middle;
}

#merchantText {
    font-weight: bold;
}

#merchantLogo {
    width: 45px;
}

#amount {
    font-size: larger;
    font-weight: bolder;
    float: right;
}

header {
    padding: 20px 15px;
}

.allTransactions {
    padding-bottom: 10px;
}

.briefcase {
    float: left;
    padding: 14px 0 0 14px;
}

.noMatch{
    padding: 10px 15px;
    color: red;
}

@media (max-width: 991px) {
    #merchant {
        margin-right: 0;
        width: 180px;
    }

    #amount {
        margin-left: 0;
    }
}
