.sortButtons {
    .dropbtn {
        font-weight: 400;
        border: 1px solid grey;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        input {
            margin-top: -1px;
            background-color: white;
            display: block;
            text-align: left;
            font-weight: 400;
            width: 110px;
            border: 1px solid grey;
            outline: none;
        }
        input:hover {
            background-color: rgb(184, 184, 184);
            cursor: pointer;
        }
    }

    .dropdown1:hover,
    .dropdown2:hover,
    .dropdown3:hover {
        .dropbtn {
            background-color: rgb(184, 184, 184);
        }
        .dropdown-content {
            display: block;
        }
    }

    [data-selecedbtn="chooseSort"] {
        background-color: #0c8397 !important;
        color: white;
    }

    .dropdown2,
    .dropdown3 {
        .dropbtn {
            border-left: none;
        }
    }
}

@media (max-width: 440px) {
    .sortButtons{
        font-size: 14px;
        margin-right: 0;
        .sortButton{
            padding: 0;
        }
    }
}
