.sortButtons {
    width: 360px;
    float: right;
    p {
        display: inline-block;
        padding: 3px 12px;
        font-weight: bold;
    }
}

@media (max-width: 991px) {
    .sortButtons {
        float: none;
        margin: 20px 0 10px 0;
        width: fit-content;
        .sortButton {
            padding-left: 0;
        }
        p {
            display: inline;
        }
    }
}
