.sortButtons {
    width: 360px;
    float: right;
    p {
        display: inline-block;
        padding: 3px 12px;
        font-weight: bold;
    }

    input:hover,
    input:focus {
        background-color: rgb(184, 184, 184);
    }

    .dropdown,
    .dropdown2,
    .dropdown3 {
        display: inline-block;
        .dropbtn {
            font-weight: 400;
            margin: 0;
            border: 1px solid grey;
            display: inline-block;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        input {
            background-color: white;
            display: block;
            text-align: left;
            font-weight: 400;
            padding: 3px 12px;
            width: 110px;
            border: 1px solid grey;
        }
        input:hover {
            background-color: rgb(184, 184, 184);
            cursor: pointer;
        }
    }

    .dropdown:hover,
    .dropdown2:hover,
    .dropdown3:hover {
        .dropbtn {
            background-color: rgb(184, 184, 184);
        }
        .dropdown-content {
            display: block;
        }
    }

    [selecedbtn="chooseSort"]{
        background-color: #0c8397 !important;
        color: white;
    }

    .dropdown2,
    .dropdown3 {
        .dropbtn {
            border-left: none;
        }
    }
}

@media (max-width: 991px) {
    .sortButtons {
        float: none;
        margin: 20px 0 10px 0;
        width: fit-content;
        .sortButton {
            padding-left: 0;
        }
        p {
            display: inline;
        }
    }
}
