.sortButtons{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .sortButtons {
        margin: 20px 0;
        justify-content: flex-start;
    }
}

@media (max-width: 440px) {
    .sortButtons{
        font-size: 14px;
        margin-right: 0;
    }
}
