.makeTransferForm {
    background-color: white;
    input {
        width: 100%;
        font-size: 1rem;
        border: none;
        background-color: white;
        border-bottom: 1px solid grey;
        margin: 10px 0;
        outline: none;
        &:focus{
            background-color: rgb(224, 224, 224);
            border-radius: 3px;
        }
        &:hover{
            border-bottom: 1px solid black;
        }  
    }
    label{
        font-weight: bold;
        margin-bottom: 0;
    }
    .submitButton{
        background-color: #ee7033;
        color: white;
        border: none;
        padding: 5px 20%;
        border-radius: 5px;
        display: block;
        margin: 35px 10px 15px auto;
        outline: none;
        &:hover{
            box-shadow: 0 0 4px  #ee7033;
        }
    }
    .transactionFields{
        margin: 10px 0;
        .errorMessage{
            color: red;
        }
    }
}

.componentTransferHeader{
    background-color: #0c8397;
    color: white;
    margin-bottom: 0;
    padding: 6px ;
    text-align: center;
    font-weight: 100;
}

.arrowsIcon{
    float: left;
    padding: 6px;
}